.portlet.box.blue{
  border: none;
  .tab-pane{
    h3{
      text-align: center;
    }
    .navSection{
      p{
        padding-top: 10px;
      }
      img{
        width: 100%;
      }
    }
  }
}
