a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
}
a{
  text-decoration: none!important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Microsoft YaHei", "Open Sans", sans-serif;
}

.page-header{
  .page-header-inner{
    .page-logo{
      .logo-default{
        width: 120px;
        margin: 20px 0 0 0;
      }
    }
  }
}

.page-sidebar{
  z-index: 997;
  .page-sidebar-menu{
    li{
      a{
        font-size: 14px;
      }
    }
    li.active{
      a{
        font-size: 16px;
      }
    }
  }
}

.page-content-wrapper {
  .page-content {
    .page-bar{
      margin-bottom: 10px;
      ul{
        li{
          font-size: 13px;
          color: #888;
          text-shadow: none;
          a:hover{
            color: #337ab7;
          }
        }
      }
    }
  }
}