.portlet{
  border: none!important;
  .portlet-body{
    h3{
      text-align: center;
    }
    .navSection{
      p{
        padding-top: 10px;
      }
      //img{
      //  width: 100%;
      //}
    }
  }
}