.modal{
  .modal-dialog{
    .modal-content{
      .modal-body{
        padding-bottom: 0;
        .portlet{
          margin-bottom: 0;
          .portlet-body{
            form{
              .form-actions{
                padding: 20px 0;
                text-align: right;
              }
            }
          }
        }
      }
    }
  }
}