<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.com.drag.dao.FacadeUploadInfoMapper" >
  <resultMap id="BaseResultMap" type="org.com.drag.model.FacadeUploadInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="flowId" property="flowid" jdbcType="INTEGER" />
    <result column="telNum" property="telnum" jdbcType="VARCHAR" />
    <result column="purpose" property="purpose" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="appExplain" property="appexplain" jdbcType="VARCHAR" />
    <result column="modeltype" property="modeltype" jdbcType="VARCHAR" />
    <result column="testResult" property="testresult" jdbcType="VARCHAR" />
    <result column="modelUrl" property="modelUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, flowId, telNum, purpose, name, appExplain, modeltype, testResult,modelUrl
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from facade_upload_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
   <select id="selectByFacadeUploadInfo" resultMap="BaseResultMap" parameterType="org.com.drag.model.FacadeUploadInfo" >
    select 
    <include refid="Base_Column_List" />
    from facade_upload_info
    <where>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER}
      </if>
     <if test="flowid != null" >
       and flowId = #{flowid,jdbcType=INTEGER}
      </if>
      <if test="telnum != null" >
       and telNum = #{telnum,jdbcType=VARCHAR}
      </if>
      <if test="purpose != null" >
       and purpose = #{purpose,jdbcType=VARCHAR}
      </if>
      <if test="name != null" >
       and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="appexplain != null" >
       and appExplain = #{appexplain,jdbcType=VARCHAR}
      </if>
      <if test="modeltype != null" >
       and modeltype = #{modeltype,jdbcType=VARCHAR}
      </if>
      <if test="testresult != null" >
       and testResult = #{testresult,jdbcType=VARCHAR}
      </if>
       <if test="modelUrl != null" >
       and modelUrl = #{modelUrl,jdbcType=VARCHAR}
      </if>
    
    </where>
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from facade_upload_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.com.drag.model.FacadeUploadInfo" >
    insert into facade_upload_info (id, flowId, telNum, 
      purpose, name, appExplain, 
      modeltype, testResult,modelUrl)
    values (#{id,jdbcType=INTEGER}, #{flowid,jdbcType=INTEGER}, #{telnum,jdbcType=VARCHAR}, 
      #{purpose,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{appexplain,jdbcType=VARCHAR}, 
      #{modeltype,jdbcType=VARCHAR}, #{testresult,jdbcType=VARCHAR},#{modelUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.com.drag.model.FacadeUploadInfo" >
    insert into facade_upload_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="flowid != null" >
        flowId,
      </if>
      <if test="telnum != null" >
        telNum,
      </if>
      <if test="purpose != null" >
        purpose,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="appexplain != null" >
        appExplain,
      </if>
      <if test="modeltype != null" >
        modeltype,
      </if>
      <if test="testresult != null" >
        testResult,
      </if>
       <if test="modelUrl != null" >
        modelUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="flowid != null" >
        #{flowid,jdbcType=INTEGER},
      </if>
      <if test="telnum != null" >
        #{telnum,jdbcType=VARCHAR},
      </if>
      <if test="purpose != null" >
        #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="appexplain != null" >
        #{appexplain,jdbcType=VARCHAR},
      </if>
      <if test="modeltype != null" >
        #{modeltype,jdbcType=VARCHAR},
      </if>
      <if test="testresult != null" >
        #{testresult,jdbcType=VARCHAR},
      </if>
      <if test="modelUrl != null" >
        #{modelUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.com.drag.model.FacadeUploadInfo" >
    update facade_upload_info
    <set >
      <if test="flowid != null" >
        flowId = #{flowid,jdbcType=INTEGER},
      </if>
      <if test="telnum != null" >
        telNum = #{telnum,jdbcType=VARCHAR},
      </if>
      <if test="purpose != null" >
        purpose = #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="appexplain != null" >
        appExplain = #{appexplain,jdbcType=VARCHAR},
      </if>
      <if test="modeltype != null" >
        modeltype = #{modeltype,jdbcType=VARCHAR},
      </if>
      <if test="testresult != null" >
        testResult = #{testresult,jdbcType=VARCHAR},
      </if>
      <if test="modelUrl != null" >
        modelUrl = #{modelUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.com.drag.model.FacadeUploadInfo" >
    update facade_upload_info
    set flowId = #{flowid,jdbcType=INTEGER},
      telNum = #{telnum,jdbcType=VARCHAR},
      purpose = #{purpose,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      appExplain = #{appexplain,jdbcType=VARCHAR},
      modeltype = #{modeltype,jdbcType=VARCHAR},
      testResult = #{testresult,jdbcType=VARCHAR},
       modelUrl = #{modelUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="addUploadInfo" parameterType="org.com.drag.model.FacadeUploadInfo" >
    insert into facade_upload_info(flowId, telNum,
    purpose, name, appExplain,
    modeltype, testResult,modelUrl)
    values (#{flowid,jdbcType=INTEGER}, #{telnum,jdbcType=VARCHAR},
    #{purpose,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{appexplain,jdbcType=VARCHAR},
    #{modeltype,jdbcType=VARCHAR}, #{testresult,jdbcType=VARCHAR},#{modelUrl,jdbcType=VARCHAR})
  </insert>
  <select id="selectByFlowId" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
  	from facade_upload_info
  	where flowId=#{flowId}
  </select>
</mapper>